subscription_id      = "00000000-0000-0000-0000-000000000000"
resource_group_name  = "rg-data2ai-tf-l02-02"
location             = "westeurope"

tags = {
  academy = "data2ai"
  course  = "terraform-foundations"
  lab     = "02-02"
  owner   = "learner"
}
